<% provide(:titile, 'Questions') %>
<h1>All Questions</h1>

<%= will_paginate %>
<ul class="users">
	<table>
		<thead>
			<tr>
				<th>Content</th>
      		<th>User</th>      		
				<th colspan="7"></th>
				<th>Time</th>
    		</tr>
  		</thead>
		<tbody>
   		<%=  render @questions %>
		</tbody>
	</table>
</ul>

<%= will_paginate %>


