<p>
  <strong>Comment:</strong>
  <%= comment.body %>  	<b>posted by</b>  <%= comment.user.name %>
</p>

<% if !comment.user.nil? && current_user?(comment.user) %>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete,
        data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
