<li>
  <span class="content">
    <%= article.text %>
    <%= image_tag article.picture.url if article.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </span>
  <% if current_user?(article.user) %>
    <%= link_to "delete", article, method: :delete,
	 											 data: { confirm: "You sure?" },
												 title: article.text %>
  <% end %>
</li>
